/* Overriding Drupal's system.css and a few additions from Basic */

.form-item {
  margin-bottom: 0;
  margin-top: 0;
}

.item-list ul {
  margin: 0;
  li {
    margin: 0;
    list-style: none;
  }
}

tr {
  &.even, &.odd {
    background-color: inherit;
    border-bottom: 1px solid #cccccc;
  }
}

td.active {
  background-color: inherit;
}

.form-item .description {
  font-size: 1em;
}

/* User interface styles 
++++++++++++++++++++++++++++*/

.resizable-textarea textarea {
  font-size: 14px!important;
}

.messages {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #04a107;
  color: #04a107;
  background-color: #edffed;
}

/* Rollover edit links for blocks
++++++++++++++++++++++++++++*/

div.block {
  position: relative;
  div.edit {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 40;
    border: 1px solid #eee;
    padding: 0 2px;
    font-size: 11px;
    background-color: #fff;
  }
  &:hover div.edit {
    display: block;
  }
}